name: SmallRye Build

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'
      - 'NOTICE'
      - 'README*'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    name: build

    steps:
      - uses: actions/checkout@v4
        name: checkout
        with:
          path: smallrye-parent

      - uses: actions/setup-java@v3
        name: set up jdk versions
        with:
          distribution: temurin
          architecture: x64
          java-version: |
            11
            17

      - name: Maven
        run: |
          cd smallrye-parent
          mvn -B -ntp formatter:validate install

      - uses: actions/checkout@v4
        name: checkout smallrye-config
        with:
          repository: smallrye/smallrye-config
          path: smallrye-config

      - name: test with smallrye-config
        run: |
          cd smallrye-config
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}

      - uses: actions/checkout@v4
        name: checkout smallrye-common
        with:
          repository: smallrye/smallrye-common
          path: smallrye-common

      - name: test with smallrye-common
        run: |
          cd smallrye-common
          mvn -B -ntp versions:update-parent -DallowSnapshots=true -N
          git diff pom.xml
          mvn -B -ntp install -Djava11.home=${{env.JAVA_HOME_11_X64}}
